/* color  */
* {
    margin: 0;
    padding: 0;
}

.white {
    color: white;
}

.red {
    color: red
}

.bg-red {
    background-color: red;
    color: white;
}

.magenta {
    color: #FF00F5;
}

.green {
    color: #00FF47;
}

.bleu {
    color: #1400FF;
}

.bg-black {
    background-color: black;
    color: white;
}

.row {
    display: table;
}


a {
    text-decoration: none;

}

.col {
    float: left;
    width: 100%;
}

/* flex  */
.d-flex {
    display: flex;

}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

.space-between {
    justify-content: space-between;
}

.j-c-center {
    justify-content: center;
}

.bg-slide {
    top: 50px;
    position: absolute;

    width: 100vw;
    background-size: cover;
    height: 89vh;
    animation: changeBackground 25s infinite;
}


@keyframes changeBackground {
    0% {
        background-image: url(./images/1331849.png);
    }

    33.33% {
        background-image: url(./images/1332401.jpeg);
    }

    66.66% {
        background-image: url(./images/403642.jpg);
    }

    100% {
        background-image: url(./images/625497.jpg);
    }
}

footer {
    align-items: center;
    font-size: 0.3em;
}


.text-stroke:hover {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.side-bar {
    position: fixed;
    z-index: 10;
    top: 50px;
    text-align: center;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgba(181, 185, 185, 0.155);
    backdrop-filter: blur(10px);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.side-bar ul li {
    padding: 0% 10% 10% 10%;
}




.align-center {
    align-items: center;
}

nav {
    position: fixed;
    z-index: 10;
    height: 50px;
    background-color: rgba(181, 185, 185, 0.155);
    backdrop-filter: blur(10px);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    width: 20%;
    height: 100%;
}

.home::after {
    content: "Home";

}

.home::before {
    content: "\f10c";
    font-family: 'FontAwesome';
    display: none;
    font-size: 40px;
    align-items: center;
    margin-top: 0;
    width: 20px;
    height: 20px;
}

.home-btn {
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    color: #1400FF;
    padding: 10px;
    font-family: Gravitas One;
    font-size: 0.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    cursor: pointer;


}

.home-btn:hover {
    box-shadow: 3px 3px 5px 5px rgb(0, 0, 0);
    font-size: 1em;
}

.home:hover::after {
    display: none;
}

.home:hover::before {
    display: flex;
    position: relative;
}

.Magazine::after {
    content: "Magazine";

}

.Magazine::before {
    content: "\f096";
    font-family: "FontAwesome";
    display: none;
    font-size: 40px;
    align-items: center;
    margin-top: 0;
    width: 20px;
    height: 20px;
    text-align: center;

}

.Magazine:hover::after {
    display: none;
}

.Magazine:hover::before {
    display: flex;
    position: relative;
}

.contact::after {
    content: "Contact";

}

.contact::before {
    content: "\f00d";
    font-family: "FontAwesome";
    display: none;
    font-size: 40px;
    align-items: center;
    margin-top: 0;
    width: 20px;
    height: 20px;
    text-align: center;

}

.contact:hover::after {
    display: none;
}

.contact:hover::before {
    display: flex;
    position: relative;
}

.apropos::after {
    content: "A propos";

}

.apropos::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('./images/triangle.png');
    background-size: cover;
    position: relative;
    z-index: 10;
    /* background-repeat: no-repeat; */
    display: none;

}

.apropos:hover::after {
    display: none;
}

.apropos:hover::before {
    display: flex;
    position: relative;
}

.list-none {
    list-style: none;
}

.col-img {
    width: 35%;

}

/* -------------------------apropospage ----------------------------------------------------*/
.apropospage {
    width: 100%;
    position: relative;

    top: 50px;
    font-family: pixelify sans;
}

body {
    font-size: 4vw;
}

.apropos-title {
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desc {
    padding: 5%;
    font-size: 0.3em;
    background-image: url(./images/Desktop_-_7.png);
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: initial;
}

.mission {
    padding: 5%;
    font-size: 0.3em;
    border: none;
    text-align: center;
    font-family: initial;

}

.soustitre {
    padding: 0.2em;
    background-color: #22348E;
    color: red;
    font-size: 0.75em;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}

.offr {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    text-align: center;
}

.mx-1 {
    margin: 0em 0.2em;
}

.mx-2 {
    margin: 0em 0.3em;
}

.icon-titre {
    font-size: 0.3em;
}

.off-icon {
    width: 1em;
    height: 1em;

}

/* ---------------------------------------contact--------------------------------------------- */
.contactpage {
    position: relative;
    top: 50px;
}

.contact-img img {
    width: 100%;
}

.contact-info {
    font-size: 0.5em;
}

.contact-form {
    background-color: #22348E;
    color: black;
}

.form {

    width: 80%;
}

.formhead {

    flex-direction: column;
}

.nameform {
    width: 100%;
}

input {
    height: 40px;
    border: 0px;
    padding: 0em 1em;
}

.radius-5 {
    border-radius: 8px;
}

.contact-btn {
    margin-top: 5%;
    background-color: #D80027;
    float: right;
    padding: 2% 10%;
    border: none;
    border-radius: 10px;
}

/* -------------------------------------mafazinepage-------------------------- */
.magazinepage {
    padding-top: 50px;

}

.card {
    margin: 0.5em;
    display: block;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.29) 0.18%, rgba(0, 0, 0, 0.00) 99.84%);
    border-radius: 20px;
    padding: 5% 1%;
    text-align: center;
    align-items: center;
  
    font-size: .6em;
}

.card img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 7px;
}

.card h4{
    color: #000;
    margin-bottom: 7px;
}

.card p {
    font-size: .7em;
    margin-bottom: 7px;
}

.card button {
    font-size: 1em;
    padding: 2%;
   
    color: black;
    width: fit-content;
    height: fit-content;
    border-radius: 26px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #000 100%);
}
.des1{
    width: 70%;
    font-size: .7em;
    margin: 0 auto;
}

@media (min-width: 601px) {
    .side-bar {
        display: none;
    }

    .col.m1 {
        width: 8.33333%
    }

    .col.m2 {
        width: 16.66666%
    }

    .col.m3 {
        width: 24.99999%
    }

    .col.m4 {
        width: 33.33333%
    }

    .col.m5 {
        width: 41.66666%
    }

    .col.m6 {
        width: 49.99999%
    }

    .col.m7 {
        width: 58.33333%
    }

    .col.m8 {
        width: 66.66666%
    }

    .col.m9 {
        width: 74.99999%
    }

    .col.m10 {
        width: 83.33333%
    }

    .col.m11 {
        width: 91.66666%
    }

    .col.m12 {
        width: 99.99999%
    }

    .berger {
        display: none;
    }
   
}

@media (min-width: 993px) {
    .berger {
        display: none;
    }

    .formhead {
        flex-direction: row;
    }

    .nameform {
        width: 40%;
    }

    .col.l1 {
        width: 8.33333%
    }

    .col.l2 {
        width: 16.66666%
    }

    .col.l3 {
        width: 24.99999%
    }

    .col.l4 {
        width: 33.33333%
    }

    .col.l5 {
        width: 41.66666%
    }

    .col.l6 {
        width: 49.99999%
    }

    .col.l7 {
        width: 58.33333%
    }

    .col.l8 {
        width: 66.66666%
    }

    .col.l9 {
        width: 74.99999%
    }

    .col.l10 {
        width: 83.33333%
    }

    .col.l11 {
        width: 91.66666%
    }

    .col.l12 {
        width: 99.99999%
    }
}

@media (max-width:600px) {
    .test {
        display: none;
    }

    .berger {
        display: block;
        border: none;
        outline: none;
        padding: 10px;
        background: none;
    }

    .soustitre {
        padding: 0.2em;
        background-color: #22348E;
        color: red;
        font-size: 2em;
        text-align: center;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

    }

    .apropos-title {
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .desc {
        padding: 5%;
        font-size: 0.5em;
        background-image: url(./images/Desktop_-_7.png);
        border: none;
        border-radius: 10px;
        text-align: center;
        font-family: initial;
    }

    .mission {
        padding: 5%;
        font-size: 0.5em;
        border: none;
        text-align: center;
        font-family: initial;

    }

    .icon-titre {
        font-size: 0.5em;
    }

    .off-icon {
        width: 3em;
        height: 3em;
    }
    .card {
        font-size: 1em;
    }
}